*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
a:focus, a:active {
	outline: none;
}
nav, footer, header, aside {
	display: block;
}
html, body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea, select {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a, a:visited {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

.cl1 {
	background: #72dadf;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.cl1 h1 {
	font-size: 20px;
	font-weight: bold;
}
.cl2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cl3 {
	width: 800px;
	background: linear-gradient(rgba(35,43,85,0.75),rgba(35,43,85,0.95));
	padding: 15px;
	border-radius: 20px;
}
.cl4 {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
.cl4-1 {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.cl5 {
	flex: 50%;
	color: #fff;
}
.cl6 {
	font-size: 16px;
}
.cl7 {
	font-size: 12px;
	padding: 5px 0 3px;
}
button {
	width: 200px;
	height: 35px;
	border-radius: 20px;
	background-color: rgba(16,89,255, 1);
	color: #fff;
}
button:hover { 
	opacity: .7;
}
.cl8 {
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background-color: #fff;
	color: #333;
	width: 90%;
	height: 35px;
	margin: 10px 0 5px;
	cursor: pointer;
}
.cl8:hover {
	opacity: .7;
}
.cl9 {
	font-size: 20px;
	width: 70px;
	height: auto;
	display: flex;
	border-left: 2px solid #464d70;
	align-items: center;
	padding: 0 15px 0 10px;
	justify-content: center;
}
.cl10 {
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.cl10 img {
	width: 25px;
	margin-right: 5px;
}
.myDiv {
	
	display: none;
}
.cl11 {
	display: none;
	flex-direction: column;
	background-color: #fff;
	color: #333;
	margin-top: -23px;
	position: absolute;
	width: 277px;
}
.cl12 {
	display: flex;
	padding: 10px 0 10px 15px;
	align-items: center;
	cursor: pointer;
}
.cl12:hover { 
	opacity: .7;
	background-color: #464d7054;
}
.cl12 img {
	width: 25px;
	margin-right: 5px;
}
.cl10 input {
	height: 35px;
	font-size: 16px;
}
.error {
	display: flex;
	margin-bottom: 10px;
	padding: 15px;
	color: #333;
	border: 1px solid red;
	background: #f59696;
}