*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
a:focus, a:active {
	outline: none;
}
nav, footer, header, aside {
	display: block;
}
html, body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea, select {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a, a:visited {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

.cl1 {
	background: #72dadf;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.cl1 h1 {
	font-size: 20px;
	font-weight: bold;
}
.cl2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cl3 {
	width: 1000px;
	padding: 15px;
	display: flex;
}
.cl4 {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-right: 20px;
}
.cl5 {
	display: flex;
	flex-direction: column;
	flex: auto;
}
.cl6 {
	padding: 10px 0;
	display: flex;
}
.cl6 span {
	border: 1px solid #3f71ff;
	color: #3f71ff;	
	padding: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.cl6 .active {
	background-color: #3f71ff;
	color: #fff !important;
}
.cl6 span:hover {
	background-color: #3f71ff;
	color: #fff;
}
.cl7 {
	display: flex;
	flex-direction: column;
}
.cl7 div {
	display: flex;
	align-items: center;
	border: 1px solid #3f71ff;
	padding: 10px;
}
.cl7 div:first-child {
	background-color: #3f71ff;
	color: #fff;
	font-size: 18px;
}
.cl7 div:not(:first-child) {
	border-top: 0px;	
	color: #333;
	font-size: 16px;
	cursor: pointer;
}
.cl7 div:not(:first-child):hover {
	background-color: #8696e529;
}
.cl7 img {
	width: 25px;
	margin-right: 5px;
}
.cl7 .active, .cl7 .active:hover  {
	background-color: #a9b6db !important;
	color: #fff !important;
}
.cl8 {
	display: flex;
	flex-direction: column;
}
.cl9 {
	display: flex;
}
.cl9 div:nth-child(1) {
	width: 250px;
}
.cl9 div:nth-child(2) {
	flex: 1;
}
.cl9 div:nth-child(3) {
	flex: 1;
}
.cl9-1 {
	display: flex;
	font-size: 16px;
	color: #333;
	padding: 10px;
	border: 1px solid #3f71ff;
	border-top: 0px;
}
.cl9-1 div:nth-child(1) {
	width: 250px;
	display: flex;
	align-items: center;
}
.cl9-1 div:nth-child(2) {
	flex: 1;
}
.cl9-1 div:nth-child(3) {
	flex: 0.5;
}
.cl9-1:hover {
	background-color: #8696e529;
}
.cl9-1 img {
	width: 25px;
	margin-right: 5px;
}
.cl9 img {
	width: 25px;
	margin-right: 5px;
}
.cl9 div {
	display: flex;
	align-items: center;
}
a.cl9 div:not(:first-child) {
	font-size: 12px;
}
.cl10 {
	background-color: #3f71ff;
	color: #fff;
	padding: 10px;
	font-size: 18px;
}
.cl3-1 {
	width: 400px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}
.cl4-1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 35px;
	border-radius: 20px;
	background-color: rgba(16,89,255, 1);
	color: #fff;
}
.button:hover { 
	opacity: .7;
}
.button1 {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 25px;
	border-radius: 20px;
	background-color: rgba(16,89,255, 1);
	color: #fff;
}
.button1:hover { 
	opacity: .7;
}
.cl9-1:hover .button1 {
	display: flex;
}
.cl7-1 {
	display: flex;
	flex-direction: column;
}
.cl7-2 {
	display: flex;
	align-items: center;
	border: 1px solid #3f71ff;
	padding: 10px;
	background-color: #3f71ff;
	color: #fff;
	font-size: 18px;
}
.cl7-3 {
	display: flex;
	align-items: center;
	border: 1px solid #3f71ff;
	padding: 10px;
	justify-content: space-between;
	font-size: 18px;
	cursor: pointer;
}
.cl7-3 img {
	width: 25px;
	margin-right: 5px;
}
.cl7-4 {
	display: none;
	flex-direction: column;
	background-color: #fff;
	color: #333;
	margin-top: 86px;
	position: absolute;
	width: 370px;
	border: 1px solid #3f71ff;
	font-size: 18px;
}
.cl7-5 {
	display: flex;
	padding: 10px 0 10px 15px;
	align-items: center;
	cursor: pointer;
}
.cl7-5:hover { 
	opacity: .7;
	background-color: #464d7054;
}
.cl7-5 img {
	width: 25px;
	margin-right: 5px;
}
.error {
	display: flex;
	margin-bottom: 10px;
	padding: 15px;
	color: #333;
	border: 1px solid red;
	background: #f59696;
}